@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Start -->
<section class="hero-header h-100">
    <div class="h-100  pt-5 shadow-lg" style="padding-top:50px; background-color:#007FFF;">
        <div class="d-flex flex-lg-row flex-column gap-2 container g-5 pt-5">
            <div class="g-col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                <div class="btn btn-primary border rounded-pill text-white px-3 mb-3 animated slideInRight" style="font-weight:bold;">#Tech</div>
                <h1 class="display-4 text-white mb-4" style="font-weight: bold;">Developer Tools</h1>
                <p class="text-white mb-4" >
                    Welcome to our innovative toolbox designed to empower developers like you with two powerful features: a dynamic public chat and a dedicated exercise space. Whether you're a seasoned coder or just starting your journey, our platform is crafted to streamline your development process and propel your skills to new heights.
                </p>
                <a href="/Categories/Index" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3" style="font-weight:bold;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:20px;">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                    </svg>
                    Exercise
                    
                </a>
                <a href="/Questions/Index/" class="btn btn-outline-light py-sm-3 px-sm-4 rounded-pill" style="font-weight:bold;"> > Ask Something</a>
            </div>
            <div class="col-lg-6 align-self-end text-center text-lg-end">
                <img class="img-fluid" src="~/imgs/hero-img.png" alt="a robot">
            </div>
        </div>
    </div>
</section>
<!-- Hero End -->
<section class="hero-header h-100" style="margin-top:100px">
    <div class="d-flex flex-lg-row flex-column gap-5 container g-5 pt-5">
        <div class="col-lg-6 align-self-end text-center text-lg-end">
            <img class="img-fluid rounded" src="~/imgs/image.png" style="border-radius: 0 0 0 15%!important; overflow: hidden;" alt="a robot">
        </div>
        <div class="g-col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
            <div class="btn btn-primary border rounded-pill text-white px-3 mb-3 animated slideInRight" style="font-weight:bold;">#Tech</div>
            <h1 class="display-4 text-black mb-4" style="font-weight: bold;">Motivation</h1>
            <p class="text-black mb-4">
                Embrace the journey of continuous learning and professional growth. Dive into our toolbox and discover a community-driven platform that empowers you to build, collaborate, and innovate with confidence. Elevate your coding skills and unlock your full potential—one line of code at a time.
            </p>
            <a href="/Categories/Index" class="btn btn-outline-dark py-sm-3 px-sm-5 rounded-pill me-3" style="font-weight:bold;">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="width:20px;">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
                </svg>
                Exercise
            </a>
            <a href="/Questions/Index/" class="btn btn-primary py-sm-3 px-sm-4 rounded-pill" style="font-weight:bold;"> > Ask Something</a>
        </div>
    </div>
</section>