@{
    ViewData["Title"] = "Tech";
}


<!--====== FEATURE ONE PART START ======-->
<section class="features-area features-one">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">Explore our practice opportunities</h3>
                    <p class="text">
                        Do you want hands-on learning, answers to your questions or challenges that will motivate you to achieve better and better results? Do you want to be encouraged to go on by being rewarded for your progress? You are in the right place.
                    </p>
                </div>
                <!-- row -->
            </div>
        </div>
        <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-style-one text-center">
                    <div class="features-icon">
                        <i class="lni lni-code"></i>
                    </div>
                    <div class="features-content">
                        <h4 class="features-title">Browse exercises</h4>
                        <p class="text">
                            Choose from a variety of coding exercises organized according to their target domain 
                        </p>
                        <div class="features-btn rounded-buttons">
                            <a class="btn primary-btn-outline rounded-full"
                               asp-controller="Categories" asp-action="Index">
                                EXPLORE
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-style-one text-center">
                    <div class="features-icon">
                        <i class="lni lni-tag"></i>
                    </div>
                    <div class="features-content">
                        <h4 class="features-title">Popular question tags</h4>
                        <p class="text">
                            Do you want to read question and answers or to share your knowledge on a specific topic? Check our tags!
                        </p>
                        <div class="features-btn rounded-buttons">
                            <a class="btn primary-btn-outline rounded-full"
                               asp-controller="Tags" asp-action="Index">
                                EXPLORE
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-style-one text-center">
                    <div class="features-icon">
                        <i class="lni lni-timer"></i>
                    </div>
                    <div class="features-content">
                        <h4 class="features-title">Weekly challenges</h4>
                        <p class="text">
                            Test your coding progress by taking part into weekly challenges! Can you perform well under time pressure?
                        </p>
                        <div class="features-btn rounded-buttons">
                            <a class="btn primary-btn-outline rounded-full"
                               asp-controller="WeeklyChallenges" asp-action="Index">
                                EXPLORE
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single features -->
            </div>
        </div>
        <!-- row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-style-one text-center">
                    <div class="features-icon">
                        <i class="lni lni-star-half"></i>
                    </div>
                    <div class="features-content">
                        <h4 class="features-title">Gain reputation points</h4>
                        <p class="text">
                            Do you ask or answer questions, solve exercises or complete challenges? You will be rewarded! 
                        </p>
                        <div class="features-btn rounded-buttons">
                            <a class="btn primary-btn-outline rounded-full"
                               asp-controller="Activities" asp-action="Index">
                                EXPLORE
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-style-one text-center">
                    <div class="features-icon">
                        <i class="lni lni-certificate"></i>
                    </div>
                    <div class="features-content">
                        <h4 class="features-title">Earn badges</h4>
                        <p class="text">
                            Strengthen your profile with our collection of badges! Show to the world your achievements!
                        </p>
                        <div class="features-btn rounded-buttons">
                            <a class="btn primary-btn-outline rounded-full"
                               asp-controller="Badges" asp-action="Index">
                                EXPLORE
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="features-style-one text-center">
                    <div class="features-icon">
                        <i class="lni lni-direction-alt"></i>
                    </div>
                    <div class="features-content">
                        <h4 class="features-title">Learning paths</h4>
                        <p class="text">
                            Learn a coding topic py practicing step by step! Unlock exercises while you increase progressively the difficulty
                        </p>
                        <div class="features-btn rounded-buttons">
                            <a class="btn primary-btn-outline rounded-full"
                               asp-controller="ApplicationUsers" asp-action="Leaderboard">
                                EXPLORE
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single features -->
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->


</section>
<!--====== FEATURE ONE PART ENDS ======-->